In [1]:
# 주석 사용하기
x = 1 # 여기서 =(등호) 기호는 수학의 같다는 의미와는 다르다.
      # ... 우측 변의 리터럴을 좌측 변의 변수에 대임한다는 의미다. 
    
text = "# 이것은 주석이 아닙니다. 따옴표 안은 문자열 리터럴입니다."

In [2]:
print(x)

1

In [6]:
print("Hello, world!")
print("Hello, world!")
print("Python Programming")

Hello, world!
Hello, world!
Python Programming

In [18]:
13 + (22 - 3) * 4

89

In [10]:
int(3.3)

3

In [11]:
int(5 / 2)

2

In [12]:
int('104')

104

In [14]:
float(3)

3.0

In [19]:
print(int((0.2467*12)+4.159))

7

In [22]:
print("가장", "시끄러운", "층은", "=", int((0.2467*12)+4.159), "층")

가장 시끄러운 층은 = 7 층

In [36]:
AP = 380
print(AP * 0.6 + 225)

453.0

In [37]:
# a 변수 선언 후 숫자 리터럴 10 값을 할당
a = 10

# a 변수 값에 20을 더한 결과를 다시 a에 할당 
a = a + 20

print(a)

30

In [38]:
# a 변수 삭제 후 a 변수를 출력해보기 
del a
print(a)

NameError: name 'a' is not defined

In [39]:
# a 변수 선언 후 숫자 리터ㅓ럴 10 값을 할당
a = 10

# a 변수 값에 20을 더한 결과를 다시 a에 할당 
a = a + 20

print(a)

30

In [42]:
a = 10

# 변수 a에 20 값을 더하고 할당하지 않았을 때
a + 20
print(a) # 10

a += 10 # a = a + 10  과 같다
print(a)

10
20

In [43]:
a = None
print(a)

None

In [44]:
type(True)

bool

In [45]:
true = "참입니다."
print(true)

참입니다.

In [46]:
# a 변수 선언 후 숫자 리터럴 10 값을 할당
a = 10

# a 변수 값에 20을 더한 결과를 다시 a에 할당 
a = a + 20

print(a)

30

In [48]:
text = '이것은 문자열입니다.'
text2 = "이것은 문자열입니다."

print(text)
print(type(text))

print(text2)
print(type(text2))

이것은 문자열입니다.
<class 'str'>
이것은 문자열입니다.
<class 'str'>

In [49]:
text3 = 'don\'t do that'
print(text3)

don't do that

In [55]:
text = "\"안녕?\"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각했다."
print(text)

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.

In [56]:
# \n 는 줄바꿈을 의미합니다.
s = 'First line.\nSecond line.'
print(s)

First line.
Second line.

In [61]:
# 상황상 줄바꿈을 안하고 싶을떄
s1 = r'c:\name'
s2 = 'c:\\name'
print(s1)
print(s2)

c:\name
c:\name

In [63]:
# 삼중 따옴표를 사용하면 여러 줄로 확장하여 문자열 리터럴을 만들 수 있음.
s3 = """
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다. 
"""

print(s3)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [67]:
# 삼중 따옴표를 사용하면 여러 줄로 확장하여 문자열 리터럴을 만들 수 있는데 줄바꿈없이 사용하고 싶을떄 역슬래시를 쓴다.
s3 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다. 
"""
print(s3)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [76]:
s = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [79]:
s = """\
"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s)

"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [87]:
s = "너무 " * 100 + "파이썬 공부가 즐겁습니다."

print(s)

너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.

In [93]:
# 인덱스는 0부터 시작된다.
word = 'Python'
print(word[0])
print(word[5])
print(word[11])

# 음수는 뒤에서부터 셉니다. 
print(word[-1])
print(word[-6])

P
n

IndexError: string index out of range

In [98]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [100]:
word = 'python'
print(word[0:2])

py

In [103]:
# 콜론으로 생략가능, 증감 크기, 0부터 시작하는데 2씩 증가해서 pto
word = 'python'
print(word[::2])

pto

In [105]:
sentence = "중요한 것은 꺾이지 않음 마음" 
print(sentence[42:])

In [108]:
# 범위를 벗어나도 유연하게 처리가능
sentence = "중요한 것은 꺾이지 않음 마음" 
print(sentence[2:42])

한 것은 꺾이지 않음 마음

In [111]:
sentence = "중요한 것은 꺾이지 않는 마음"
print(sentence[7:])

꺾이지 않는 마음

In [134]:
sentence = "중요한 것은 꺾이지 않는 마음"
print(sentence[2::-1])

한요중

In [135]:
sentence[0] = "한"

TypeError: 'str' object does not support item assignment

In [136]:
sentence[0:3] = "대단한"

TypeError: 'str' object does not support item assignment

In [137]:
sentence = "대단한" + sentence[3:]
print(sentence)

대단한 것은 꺾이지 않는 마음

In [138]:
s7 = '재밌어요' * 10
print(s7)
print(len(s7))

재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요
40

In [139]:
squares = [1**2, 2**2, 3**2, 4**2, 5**2]
print(squares)

[1, 4, 9, 16, 25]

In [142]:
# 인덱싱을 통해 해당되는 항목(item)을 반환(return)받습니다.
print(squares[0])
print(squares[-1])

1
25

In [143]:
# + 를 통해 이어붙일 수 있습니다. 
print(squares + [36, 49, 64, 81, 100])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [145]:
# 리스트는 곱하기를 통해 요소를 반복할 수 있습니다. 
letter = ['a', 'b']
print(letter * 3)

['a', 'b', 'a', 'b', 'a', 'b']

In [146]:
# 리스트는 가변(mutable)입니다. 즉 내용을 변경할 수 있습니다. 
cubes = [1, 8, 27, 65, 125] #65가 아니라 64가 올바른 값입니다. 
cubes[3] = 4**3 #인덱싱을 통해 해당 값을 변경합니다. 
print(cubes)

[1, 8, 27, 64, 125]

In [149]:
letters = ['a', 'b', 'c', 'd', 'e'] 
print(len(letters))

5

In [150]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)

[['a', 'b', 'c'], [1, 2, 3]]

In [151]:
print(x[0])

['a', 'b', 'c']

In [152]:
print(x[0][1])

b

In [155]:
numbers = [1, 2, 3, 4, 5, 6, 7]
print(5 in numbers)
print(10 in numbers)

True
False

In [17]:
print(7 + 3 * 2 ** 7 - 256)

135

In [22]:
x = "Don't want no riddle"
print(x)

Don't want no riddle

In [14]:
print("2023년")
print(100)
print(None)
print(False)

2023년
100
None
False

In [1]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(letters[4::-2])

eca

In [23]:
letters = 'abcdefghijklmnopqrstuvwxyz' 
print(letters[-1:7:-2])
print(letters[-1:8:-2])
print(letters[:8:-2])
print(letters[:7:-2])

zxvtrpnlj
zxvtrpnlj
zxvtrpnlj
zxvtrpnlj

In [2]:
# [국어, 영어, 한국사, 선택 교과1, 선택 교과2]
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [9]:
letters = 'abcdefg'
print(letters[6:2:-2])

ge

In [10]:
print("가장", "시끄러운", "층은", "=", int((0.2467*12)+4.159), "층")

가장 시끄러운 층은 = 7 층

In [11]:
squares = [1**2, 2**2, 3**2, 4**2, 5**2]
print(squares)

[1, 4, 9, 16, 25]

In [13]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)

[['a', 'b', 'c'], [1, 2, 3]]

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8)
numbers.append(9)
print(numbers)
print(numbers.pop())

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [5]:
numbers.append(8)

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [8]:
numbers.append(8)

In [9]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers),0)

In [11]:
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

In [14]:
numbers.extend([4, 5, 6, 7])

In [15]:
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 4, 5, 6, 7]

### remove 인덱스 -> 요소로 변경.

In [16]:
numbers.remove(0)

In [17]:
print(numbers)

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 4, 5, 6, 7]

In [18]:
del numbers[0]

In [19]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 4, 5, 6, 7]

In [20]:
print(numbers.pop())

7

In [21]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 4, 5, 6]

### pop() --> 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.

In [22]:
print(numbers.index(3))

1

### index(인자)리스트 안에 인자와 같은 요소를 앞에서 부터 찾습니다.  
제일 처음 발견된 요소의 인덱스 위치를 반환합니다.

In [24]:
print(numbers.count(0))

3

### count(인자) 리스트 안에 **인자와 같은 요소가 몇개가 있는지 반환**한다.

In [26]:
print(numbers)
print(numbers.count(0))

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 4, 5, 6]
3

In [69]:
print(numbers.sort())
print(numbers)

None
[1, 2, 3, 4, 5, 6, 7, 8]

### 리스트 정렬하기  
> sort()는 오름차순 
> reverse() 는 내림차순  
 반환값

In [68]:
print(numbers.reverse())
print(numbers)

None
[8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
stack = [3, 4, 5] 
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop())

[3, 4, 5, 6, 7]
7

### 튜플  
튜플은 수정이 불가하다.

In [55]:
tuple_variable = (1, 2, 3, 4, 5, "hello")

In [64]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [65]:
tuple_variable[1:3] = ("dd", "ee")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [67]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는게 더 좋다.

In [59]:
t_v2 = "음", "오", "아", "예"

In [74]:
print(type(t_v2))

<class 'tuple'>

### 튜플과 리스트의 소요시간 비교

In [ ]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i, j))
        
last = time.time()
print(last - curr)

0.5521941184997559

In [79]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(a[1],n[1])

b 2

In [81]:
reverse_test = [7, 2, 1, 2, 4, 8]
reverse_test.reverse()
print(reverse_test)

[8, 4, 2, 1, 2, 7]

In [82]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [83]:
s3, s4, s5 = ["이렇게", "리스트로", "가능합니다."]
print(s3, s4, s5)

이렇게 리스트로 가능합니다.

In [84]:
input_value = input("Message")

Message 1111

In [85]:
print(type(input_value))

<class 'str'>

In [86]:
print(input_value)

1111

In [ ]:
input_value = int(input_value)
print("input_value:", input_value, "\ntype

In [87]:
input_value2 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. 1.385965905

In [89]:
input_value = int(input_value2)

ValueError: invalid literal for int() with base 10: '1.385965905'

In [90]:
input_value2 = float(input_value2)
print(input_value2)

1.385965905

In [91]:
input_value2 = int(input_value2)
print(input_value2)

1

In [92]:
input_value3 = input("정수외에")

정수외에 ㅓㅠ암류ㅏㅁㄹ

In [94]:
input_value4 = int(input("정수를 입력해주세요;"))
print(input_value4)

정수를 입력해주세요; 7

7

In [111]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

In [119]:
input_value6 = int(input("첫 번째 정수를 입력하세요:"))

첫 번째 정수를 입력하세요: 934824

In [117]:
input_value7 = int(input(두 번째 정수를 입력하세요:")) 
print(input_value7)

SyntaxError: invalid syntax (2415658416.py, line 1)

In [118]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6,"과",input_value7,"의 합은",input_value6+input_value7,"입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 700

300 과 700 의 합은 1000 입니다.

In [121]:
int(3.49734)

3

In [122]:
print(int(0.2467 * 12 + 4.159))

7

In [123]:
print("가장", "시끄러운", "층은", "=", (int(0.2467 * 12 + 4.159)), "층")

가장 시끄러운 층은 = 7 층

In [124]:
floor = int(0.2467 * 12 + 4.159)
print("가장", "시끄러운", "층은", "=", floor, "층")

가장 시끄러운 층은 = 7 층

In [126]:
price = 53000 * 24
print("냉장고", "가격은", price, "원", "입니다.")

냉장고 가격은 1272000 원 입니다.

In [129]:
people = 20000 * 3 * 250 
tax = people * 0.1
print("총 지불 해야 할 금액은", int(people + tax), "원", "입니다,")

총 지불 해야 할 금액은 16500000 원 입니다,

In [130]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6,"과",input_value7,"의 합은",input_value6+input_value7,"입니다.")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 700

300 과 700 의 합은 1000 입니다.

In [134]:
name = input("이름을 입력하세요:")
print(name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
fir = input("첫 번째 정수를 입력하세요:")
sec = input("두 번째 정수를 입력하세요:")
print(fir, "과", sec, "의 합은", fir+sec, "입니다.")

이름을 입력하세요: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 300400 입니다.

In [152]:
input_value8 = input("경기장은 어디입니까?")
input_value9 = input("이긴 팀은 어디입니까?")
input_value10 = input("진팀은 어디입니까?")
input_value11 = input("우수 선수는 누구입니까?")
input_value12 = input("스코어는 몇대몇입니까?")
print("[속보]", input_value9, "가", input_value12, "로 승리...")
print("오늘", input_value8,"경기장에서", "야구 경기가 있었습니다.")
print(input_value9, "와", input_value10, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", input_value11, "가 맹활약을 펼쳤습니다.")
print("그 끝내", input_value9, "가", input_value10, "를", input_value12, "로 승리하였습니다.")
print("기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 펼쳤습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [153]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [162]:
input_value13 = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
result = input_value13.split(':')
print("시", ":",result[0])
print("분", ":",result[1])
print("초", ":",result[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:@3

시 : 12
분 : 33
초 : @3

In [163]:
AP = 380 
print(AP * 0.6 + 225)

453.0

In [172]:
# map이라는 함수는 리스트 안에 있는 인자들에게 동일한 함수를 적용할 수 있게 도와준다. 
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [14]:
input_value14 = input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(",")
kor,eng,math,sci = list(map(int,input_value14))
print("평균 점수는",(k+e+m+s)/4, "점 입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점 입니다.

In [12]:
a = input("국어,영어,수학,과학,점수를 입력해주세요").split(",")
k,e,m,s = list(map(int,a))
print("평균 점수는",(k+e+m+s)/4, "점 입니다.")

국어,영어,수학,과학,점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점 입니다.

In [16]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

In [23]:
print("value", 1, 1.1, [1, 2, 'text'], sep=", ")

value, 1, 1.1, [1, 2, 'text']

In [28]:
print("[속보]로 승리...", end="")
print("기사 끝",end="")

[속보]로 승리...기사 끝

In [30]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.", sep=",",end="")
print("어떻게 사용하는지", "이해가 가시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n\과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep,end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 가시나요?

In [34]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep = "/", end = " ")
print(hour, minute, second, sep = ":")

2021/02/03 18:33:23

In [47]:
apple = 1000
mandarin = 200
a = list(map(int, input("사과와 귤을 몇개 드릴까요?").split(",")))
total_price = (a[0] * 1000 + a[1] *200)
print("실행 결과:")
print("총 가격은",total_price,end="")
print("원입니다.")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

In [54]:
input_value20 = 280
if type(input_value20) is int:
    print(input_value20,"는 정수입니다.")

280 는 정수입니다.

In [55]:
age = 39

if 20 <= age < 30: 
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

30대 입니다.
감사합니다.

In [56]:
age = 26

if 20 <= age < 30: 
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

20대 입니다.
감사합니다.

In [57]:
age = 40

if 20 <= age < 30: 
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
else :
    print("오우....불혹을 넘기셨군요.")
    
    
print("감사합니다.")

오우....불혹을 넘기셨군요.
감사합니다.

In [103]:
print("실행 결과:")
id = input("아이디를 입력하세요 :")

if id == "admin":
    print("최고 관리자, 모든권한을 갖습니다.")
else:
    grade = int(input("회원 등급을 입력하세요 :"))

    if 1 <= grade <=3:
        print("제한적인 권한을 갖습니다.")
    else :
        print("권한이 없습니다.")

실행 결과:

아이디를 입력하세요 : admin

최고 관리자, 모든권한을 갖습니다.

In [104]:
# a 변수 선언 후 숫자 리터럴 10 값을 할당
a = 10 

# a 변수 값에 20을 더한 결과를 다시 a에 할당
a = a + 20

print(a)

30

In [105]:
# a 변수 삭제 후 a 변수를 출력해보기
del a
print(a)

NameError: name 'a' is not defined

In [106]:
type(True)

bool

In [107]:
type(False)

bool

In [108]:
type(true)

NameError: name 'true' is not defined

In [110]:
true = "참입니다."
print(true)

참입니다.

In [111]:
false = 0
print(false)

0

In [116]:
a = "don't loose yourself"
print(a)

don't loose yourself

In [122]:
print("실행 결과:")
print('\"안녕?\"이란는 그 인사를 듣고 \n나는 \'누구지?\'라고 생각했다.')

실행 결과:
"안녕?"이란는 그 인사를 듣고
나는 '누구지?'라고 생각했다.

In [126]:
s1 = r'c:\name'
s2 = 'c:\\name'

print(s1)
print(s2)

c:\name
c:\name

In [132]:
s3 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s3)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.